python-dotenv
wikipedia
tiktoken
neo4j
streamlit
Pillow
fastapi
PyPDF2
pydantic
uvicorn
sse-starlette
boto3
streamlit
# missing from the langchain base image?
langchain
langchain-core
langchain-community
langchain-ollama
langchain-huggingface

# Custom Additions
ipykernel